body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.league {
  margin-bottom: 1rem;
}
.react-datepicker__year-wrapper {
  min-width: 205px;
}

.react-datepicker-wrapper {
  min-width: 220px;
}

.navlinks {
  display: flex;
  width: 33%;
  justify-content: left;
}
.navlinks a {
  color: azure;
  text-decoration: none;
  padding: 0 8px;
}

.navlinks a:hover {
  color: burlywood;
}
